
  .input {
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    padding: 20px;
    width: 200px; /* Adjust width as needed */
  }
  .message_input{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 200px;
  }

  button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  padding: 20px;
  width: 100px;
  }

  #message{
    height: 300px;
  }
  